@{
    ViewData["Title"] = "初始化数据";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="SaveChanges">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        初始化数据
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">询问</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    是否执行初始化数据库操作？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                    <button type="submit" class="btn btn-primary">是</button>
                </div>
            </div>
        </div>
    </div>
</form>