@model IEnumerable<NET.Core.V2_2.Models.FTP_FileGroup>
@{
    ViewData["Title"] = "首页";
}
<h1 class="text-center pt-3">
    第六人民医院信息化系统
</h1>
<p class="text-center font-weight-bold pt-3"><i class="fa fa-wrench"></i> 建设中 <i class="fa fa-circle-o-notch fa-spin"></i></p>