@{
    ViewData["Title"] = "测试";
}
<h1>@ViewData["Title"]</h1>

<p>当前地址：@ViewData["Path_Name"]</p>

<p>上级地址：@ViewData["Path_UpName"]</p>

<p>完全地址：@ViewData["Path"]</p>

@await Component.InvokeAsync("FileList", new { path = ViewData["Path_Name"] })


